{% extends 'base.html.twig' %}

{% block main %}
    {% import 'macros/mixedMacros.html.twig' as mixedMacros %}
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name}}</td>
                <td>{{ category.summaryOfDescription}}</td>
                <td>{{ category.dateAdded|date("Y-M-d H:i") }}</td>
                <td>
                    {{ mixedMacros.vehturiinikLink('remove_category','Remove',{'id': category.id}) }}
                    {{ mixedMacros.vehturiinikLink('edit_category','Edit',{'id': category.id}) }}
                    {{ mixedMacros.vehturiinikLink('discount_category','Discount',{'id': category.id}) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ mixedMacros.vehturiinikLink('add_category','Add Category') }}
    <div class="pagination">
        {{ knp_pagination_render(categories) }}
    </div>
{% endblock %}