{% extends 'base.html.twig' %}

{% block main %}
    {% import 'macros/mixedMacros.html.twig' as mixedMacros %}
    {% import 'macros/cartMacros.html.twig' as cartMacros %}
    <h2>Your Cash is: {{ app.user.money }} vehturiiki</h2>
    {% if app.user.money >= constant('VehturiinikShopBundle\\Entity\\User::MONEY_TO_BE_DISCOUNTED') or app.user.isRegularCustomer %}
        <h3>You have bonus discount on NOT discounted products - 10%</h3>
    {% endif %}
    {% for product in products %}
        {{ cartMacros.cartProduct(product, quantities[product.name]) }}
    {% endfor %}
    <div class="pagination">
        {{ knp_pagination_render(products) }}
    </div>
    <h4>Total Amount: {{ total }} vehturiiki</h4>
    {{ mixedMacros.vehturiinikLink('checkout_cart','Buy All Products') }}
{% endblock %}

