{% extends 'base.html.twig' %}

{% block main %}
    {% for comment in comments %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ comment.author.username }}</h3>
            </div>
            <div class="panel-body">
                {{ comment.content }}
                <div class="pull-right">
                    {% if app.user and app.user.id == comment.author.id %}
                        <a href="{{ path('edit_product_comment', {'id': comment.id}) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ path('delete_product_comment', {'id': comment.id}) }}" class="btn btn-primary">Delete</a>
                    {% endif %}
                    <a href="{{ path('view_shop') }}" class="btn btn-primary">Shop</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
        {{ knp_pagination_render(comments) }}
    </div>
    {% if app.user %}
        <a href="{{ path('comment_product', {'id': comments[0].product.id}) }}" class="btn btn-primary">Add Comment</a>
    {% endif %}
{% endblock %}