{% extends 'base.html.twig' %}

{% block main %}
    {% import 'macros/mixedMacros.html.twig' as mixedMacros %}
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>User</th>
        <th>Product</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    {% for purchase in purchases %}
        <tr>
            <td>{{ purchase.user.fullName }}</td>
            <td>{{ purchase.product.name }}</td>
            <td>
                {{ mixedMacros.vehturiinikLink('remove_purchase','Remove',{userId: purchase.userId, purchaseId: purchase.id }) }}
                {{ mixedMacros.vehturiinikLink('edit_purchase','Edit',{userId: purchase.userId, purchaseId: purchase.id}) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <div class="pagination">
        {{ knp_pagination_render(purchases) }}
    </div>
{% endblock %}

