{% extends 'base.html.twig' %}

{% block main %}
    <table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Roles</th>
        <th>Options</th>
    </tr>
    </thead>
        <tbody>
    {% for user in users%}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.fullName }}</td>
                <td>
                    Roles:
                    {% for role in user.roles %}
                        <b>{{ role }}</b>
                    {% endfor %}
                </td>
                <td>
                    {{ mixedMacros.adminTableLink('edit_user','Edit',{id:user.id}) }}
                    {{ mixedMacros.adminTableLink('view_user_purchases','Manage Purchases',{id:user.id}) }}
                    {{ mixedMacros.adminTableLink('view_user_comments','Manage Comments',{id:user.id})}}
                </td>
            </tr>
    {% endfor %}
            </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}