{% macro cartProduct(product, quantity)%}
    {% import 'macros/formMacros.html.twig' as formMacros %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title text-center"><a href="{{ path('view_products_in_category', {id: product.category.id}) }}">{{ product.category.name}}</a></h3>
            <h3 class="panel-title"><a class="pull-right purchases-actions" href="{{ path('remove_all_from_cart', {productName: product.name}) }}">X</a></h3>
            <h3 class="panel-title">{{ product.name }}</h3>
            <h2 class="panel-title text-center">
            {{ formMacros.quantityForm(product, quantity) }}
            </h2>
        </div>
        <div class="panel-body">
            {{ product.description }}
            {% if product.discount %}
                <div>
                    Price: <h4 class="price discount">{{ product.price  }} vehturiiki</h4>
                </div>
                Discount: {{ product.discount }}%
                <div>
                    Cost: <h4 class="price discount">{{ product.price * quantity }} vehturiiki</h4>
                </div>
                <div>
                    You save: <h4 class="price discount">{{ product.originalPrice * quantity - product.price * quantity }} vehturiiki</h4>
                </div>
            {% elseif app.user.money >= constant('VehturiinikShopBundle\\Entity\\User::MONEY_TO_BE_DISCOUNTED') or app.user.isRegularCustomer %}
                <div>
                    Price: <h4 class="price discount">{{ product.price - (product.price * constant('VehturiinikShopBundle\\Entity\\User::USER_DISCOUNT') / 100) }} vehturiiki</h4>
                </div>
                <div>
                    Discount: {{ constant('VehturiinikShopBundle\\Entity\\User::USER_DISCOUNT') }}%
                </div>
                <div>
                    You save: <h4 class="price discount">{{ product.originalPrice * quantity - (product.price - (product.price * constant('VehturiinikShopBundle\\Entity\\User::USER_DISCOUNT') / 100)) * quantity }} vehturiiki</h4>
                </div>
                <div>
                    Cost: <h4 class="price discount">{{ (product.price - (product.price * constant('VehturiinikShopBundle\\Entity\\User::USER_DISCOUNT') / 100)) * quantity }} vehturiiki</h4>
                </div>
            {% else %}
                <div>
                    Price: <h4 class="price">{{ product.price }} vehturiiki</h4>
                </div>
                <div>
                    Cost: <h4 class="price">{{ product.price  * quantity }} vehturiiki</h4>
                </div>
            {% endif %}
            <div>
                Quantity in Stock: <h4 class="quantity">{{ product.quantity }}</h4>
            </div>
        </div>
    </div>
{% endmacro %}