{% macro loginForm() %}
    {% import _self as helpers %}
    <div>
        <form class="form-horizontal" name="login" method="post" action="{{ path('security_login') }}" novalidate>
            <fieldset>
                <legend>Login</legend>
                {{ helpers.udInputField('Username','text','_username') }}
                {{ helpers.udInputField('Password','password','_password') }}
                {{ helpers.submitAndCancelButtons('Login',path('home_index')) }}
                {{ helpers.csrfField('authenticate') }}
            </fieldset>
        </form>
    </div>
{% endmacro %}

{% macro quantityForm(product, quantity) %}
    {% import _self as helpers %}
    <form action="{{ path('set_quantity') }}" name="quantity_form" method="post">
        <input type="submit" class="btn-success" value="Set Quantity">
        <input type="text" class="quantity-field" name="quantity" value="{{ quantity }}"/>
        <input type="hidden" name="productName" value="{{ product.name }}"/>
        {{ helpers.csrfField('quantity_form') }}
    </form>
{% endmacro %}

{% macro csrfField(name) %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token(name) }}"/>
{% endmacro %}

{% macro udInputField(label, type, name, value) %}
    <div class="form-group">
        <h3><label class="col-lg-2 control-label">{{ label|default('') }}</label></h3>
        <div class="col-lg-10">
            <input type="{{ type }}" name="{{ name }}" class="form-control" value="{{ value }}" placeholder="{{ label|default('') }}" required />
        </div>
    </div>
{% endmacro %}

{% macro submitAndCancelButtons(value, cancelHref) %}
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <a href="{{ cancelHref }}" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-primary">{{ value }}</button>
        </div>
    </div>
{% endmacro %}

{% macro submitButton(value) %}
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">{{ value }}</button>
        </div>
    </div>
{% endmacro %}

{% macro sellQuantityForm(form) %}
    {{ form_start(form) }}
        {{ form_widget(form.submit) }}
        {{ form_widget(form.quantityForSale) }}
        {{ form_widget(form.productId) }}
        {{ form_row(form._token) }}
    {{ form_end(form) }}
{% endmacro %}


