{% macro flash(type, message) %}
    <div class="alert alert-dismissible alert-{{ type|checkType }} text-center" id="flash-message">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ message }}</strong>
    </div>
{% endmacro %}

{% macro adminLink(pathName,message,params) %}
    <div class="container">
        <h2 class="text-center"><a href="{{ path(pathName, params|default([])) }}" class="btn-lg btn-info">{{ message }}</a></h2>
    </div>
{% endmacro %}

{% macro vehturiinikLink(pathName,message,params) %}
    <a href="{{ path(pathName, params|default([])) }}" class="btn btn-primary">{{ message }}</a>
{% endmacro %}



