{% macro purchaseProduct(purchase, form)%}
    {% import 'macros/formMacros.html.twig' as formMacros %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title text-center"><a href="{{ path('view_products_in_category', {id: purchase.product.category.id}) }}">{{ purchase.product.category.name}}</a></h3>
            <h3 class="panel-title">{{ purchase.product.name }}</h3>
            <h4 class="text-center">
                {{ form_start(form) }}
                {{ form_widget(form.submit) }}
                {{ form_widget(form.quantityForSale) }}
                {{ form_widget(form.productId) }}
                {{ form_row(form._token) }}
                {{ form_end(form) }}
            </h4>
        </div>
        <div class="panel-body">
            {{ purchase.product.description }}
            {% if purchase.discount %}
                <div>
                    Cost: <h4 class="price discount">{{ (purchase.pricePerPiece - (purchase.pricePerPiece * purchase.discount / 100))  * purchase.currentQuantity }} vehturiiki</h4>
                </div>
                <div>
                    Discount bought at: <h4 class="price discount">{{ purchase.discount }}%</h4>
                </div>
                <div>
                    You saved: <h4 class="price discount">{{ purchase.product.originalPrice * purchase.currentQuantity - (purchase.pricePerPiece - (purchase.pricePerPiece * purchase.discount / 100)) * purchase.currentQuantity }} vehturiiki</h4>
                </div>
                <div>
                    You Will Earn: <h4 class="price discount">{{ (purchase.pricePerPiece - (purchase.pricePerPiece * purchase.discount / 100))  * purchase.quantityForSale }} vehturiiki</h4>
                </div>
            {% else %}
                <div>
                    Cost: <h4 class="price">{{ purchase.pricePerPiece  * purchase.currentQuantity }} vehturiiki</h4>
                </div>
                <div>
                    You Will Earn: <h4 class="price">{{ purchase.pricePerPiece  * purchase.quantityForSale }} vehturiiki</h4>
                </div>
            {% endif %}
            <div>
                Quantity bought: <h4 class="quantity">{{ purchase.currentQuantity }}</h4>
            </div>
            <div class="pull-right">
                <h4> Comments: {{ purchase.product.comments|length }}</h4>
                <a href="{{ path('comment_product', {'id': purchase.product.id}) }}" class="btn btn-primary">Comment</a>
                <a href="{{ path('view_product_comments', {'id': purchase.product.id}) }}" class="btn btn-primary">View Comments</a>
                <a href="{{ path('sell_product', {'purchaseId': purchase.id}) }}" class="btn btn-primary">Sell</a>
            </div>
        </div>
    </div>
{% endmacro %}