{% macro purchaseProduct(purchase, form)%}
    {% import 'macros/formMacros.html.twig' as formMacros %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title text-center"><a href="{{ path('view_products_in_category', {id: purchase.product.category.id}) }}">{{ purchase.product.category.name}}</a></h3>
            <h3 class="panel-title">{{ purchase.product.name }}</h3>
            <h4 class="text-center">
                {{ formMacros.sellQuantityForm(form) }}
            </h4>
        </div>
        <div class="panel-body">
            {{ purchase.product.description }}
            {% if purchase.discount %}
                <div>
                    Cost: <h4 class="price discount">{{ (purchase.pricePerPiece - (purchase.pricePerPiece * purchase.discount / 100))  * purchase.quantity }} vehturiiki</h4>
                </div>
                <div>
                    Discount bought at: <h4 class="price discount">{{ purchase.discount }}%</h4>
                </div>
                <div>
                    You saved: <h4 class="price discount">{{ purchase.product.originalPrice * purchase.quantity - (purchase.pricePerPiece - (purchase.pricePerPiece * purchase.discount / 100)) * purchase.quantity }} vehturiiki</h4>
                </div>
                <div>
                    You Will Earn: <h4 class="price discount">{{ (purchase.pricePerPiece - (purchase.pricePerPiece * purchase.discount / 100))  * purchase.quantityForSale }} vehturiiki</h4>
                </div>
            {% else %}
                <div>
                    Cost: <h4 class="price">{{ purchase.pricePerPiece  * purchase.quantity }} vehturiiki</h4>
                </div>
                <div>
                    You Will Earn: <h4 class="price">{{ purchase.pricePerPiece  * purchase.quantityForSale }} vehturiiki</h4>
                </div>
            {% endif %}
            <div>
                Quantity bought: <h4 class="quantity">{{ purchase.quantity }}</h4>
            </div>
            <h2 class="panel-title text-right"><a href="{{ path('sell_product', {'purchaseId': purchase.id}) }}">Sell</a></h2>
        </div>
    </div>
{% endmacro %}