{% macro shopProduct(product, categoryLink) %}
    {% import 'macros/mixedMacros.html.twig' as mixedMacros %}
    <div class="panel panel-info">
        <div class="panel-heading">
            {% if categoryLink %}
                <h3 class="panel-title text-center"><a href="{{ path('view_products_in_category', {id: product.category.id}) }}">{{ product.category.name }}</a></h3>
            {% else %}
                <h3 class="panel-title text-center">{{ product.category.name }}</h3>
            {% endif %}
            {% if app.user %}
                <h3 class="panel-title"><a class="pull-right purchases-actions" href="{{ path('add_product', {id: product.id}) }}">Add to Cart</a></h3>
            {% endif %}
            <h3 class="panel-title">{{ product.name }}</h3>
        </div>
        <div class="panel-body">
            {{ product.description }}
            <div>
                {% if product.discount %}
                    <div>
                        Price: <h4 class="price discount">{{ product.price  }} vehturiiki</h4>
                    </div>
                    <div>
                        Discount: {{ product.discount }}%
                    </div>
                    <div>
                        You save: <h4 class="price discount">{{ product.originalPrice - product.price }} vehturiiki</h4>
                    </div>
                {% elseif app.user and app.user.money >= constant('VehturiinikShopBundle\\Entity\\User::MONEY_TO_BE_DISCOUNTED') or app.user and app.user.isRegularCustomer %}
                    <div>
                        Price: <h4 class="price discount">{{ product.price - (product.price * constant('VehturiinikShopBundle\\Entity\\User::USER_DISCOUNT') / 100) }} vehturiiki</h4>
                    </div>
                    <div>
                        Discount: {{ constant('VehturiinikShopBundle\\Entity\\User::USER_DISCOUNT') }}%
                    </div>
                    <div>
                        You save: <h4 class="price discount">{{ product.originalPrice - (product.price - (product.price * constant('VehturiinikShopBundle\\Entity\\User::USER_DISCOUNT') / 100))}} vehturiiki</h4>
                    </div>
                {% else %}
                    <div>
                        Price: <h4 class="price">{{ product.price }} vehturiiki</h4>
                    </div>
                {% endif %}
                <div>
                    Quantity in Stock: <h4 class="quantity">{{ product.quantity }}</h4>
                </div>
                <div class="pull-right">
                    {% if app.user %}
                        {{ mixedMacros.vehturiinikLink('comment_product', 'Comment',{'id': product.id}) }}
                    {% endif %}
                    {{ mixedMacros.vehturiinikLink('view_product_comments', 'View Comments',{'id': product.id}) }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro shopCategory(category) %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title text-center"><a href="{{ path('view_products_in_category', {id: category.id}) }}">{{ category.name }}</a></h3>
        </div>
        <div class="panel-body text-center">
            {{ category.summaryOfDescription }}
        </div>
    </div>
{% endmacro %}