{% macro shopProduct(product, categoryLink) %}
    <div class="panel panel-info">
        <div class="panel-heading">
            {% if categoryLink %}
                <h3 class="panel-title text-center"><a href="{{ path('view_products_in_category', {id: product.category.id}) }}">{{ product.category.name }}</a></h3>
            {% else %}
                <h3 class="panel-title text-center">{{ product.category.name }}</h3>
            {% endif %}
            {% if app.user %}
                <h3 class="panel-title"><a class="pull-right purchases-actions" href="{{ path('add_product', {id: product.id}) }}">Add to Cart</a></h3>
            {% endif %}
            <h3 class="panel-title">{{ product.name }}</h3>
        </div>
        <div class="panel-body">
            {{ product.description }}
            <div>
                {% if product.discount %}
                    <div>
                        Price: <h4 class="price discount">{{ product.price  }} vehturiiki</h4>
                    </div>
                    <div>
                        Discount: {{ product.discount }}%
                    </div>
                    <div>
                        You save: <h4 class="price discount">{{ product.originalPrice - product.price }} vehturiiki</h4>
                    </div>
                {% else %}
                    Price: <h4 class="price">{{ product.price }} vehturiiki</h4>
                {% endif %}
                <div>
                    Quantity in Stock: <h4 class="quantity">{{ product.quantity }}</h4>
                </div>
                <div class="pull-right">
                    <h4> Comments: {{ product.comments|length }}</h4>
                    {% if app.user %}
                        <a href="{{ path('comment_product', {'id': product.id}) }}" class="btn btn-primary">Comment</a>
                    {% endif %}
                    <a href="{{ path('view_product_comments', {'id': product.id}) }}" class="btn btn-primary">View Comments</a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro shopCategory(category) %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title text-center"><a href="{{ path('view_products_in_category', {id: category.id}) }}">{{ category.name }}</a></h3>
        </div>
        <div class="panel-body text-center">
            {{ category.summaryOfDescription }}
        </div>
    </div>
{% endmacro %}