{% extends 'base.html.twig' %}

{% block main %}
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Discount</th>
            <th>At Discount</th>
            <th>Date Expires</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name}}</td>
                <td>{{ product.description}}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.discount }}</td>
                {% if product.discountAdded %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                {% if product.dateDiscountExpires is not null %}
                <td>{{ product.dateDiscountExpires|date('Y-m-d')}}</td>
                {% else %}
                    <td>Not Set</td>
                {% endif %}
                <td>{{ product.quantity }}</td>
                <td>{{ product.category.name }}</td>
                <td>
                    <a href="{{ path('remove_product_admin', {'id': product.id}) }}" class="btn btn-primary">Remove</a>
                    <a href="{{ path('edit_product_admin', {'id': product.id}) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('add_product_admin', {'id': categoryId}) }}" class="btn btn-primary">Add Product</a>
{% endblock %}
