{% extends 'base.html.twig' %}

{% block main %}
    {% import 'macros/mixedMacros.html.twig' as mixedMacros %}
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Discount</th>
            <th>At Discount</th>
            <th>Date Expires</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name}}</td>
                <td>{{ product.summaryOfDescription}}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.discount }}</td>
                {% if product.discountAdded %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                {% if product.dateDiscountExpires is not null %}
                    <td>{{ product.dateDiscountExpires|date('Y-m-d')}}</td>
                {% else %}
                    <td>Not Set</td>
                {% endif %}
                <td>{{ product.quantity }}</td>
                <td>{{ product.category.name }}</td>
                <td>
                    {{ mixedMacros.adminTableLink('remove_product_admin','Remove',{'id': product.id}) }}
                    {{ mixedMacros.adminTableLink('edit_product_admin','Edit',{'id': product.id}) }}
                    {{ mixedMacros.adminTableLink('view_product_comments_admin','Comments', {'id': product.id}) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ mixedMacros.adminTableLink('add_product_admin','Add Product',{'id': categoryId}) }}
    <div class="pagination">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
